<ion-content>

  <div class="box"></div>

  <div class="title">
    <h1>Hipertensão</h1>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="phorientation">Orientação</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="pressure" >
          <span class="ps">Pressão <br> sanguínea</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="exit">
    <ion-router-link href="#" slot="end" color="gray">Sair</ion-router-link>
  </div>

</ion-content>