/* .decor {
    background: #b1dde9;
    left: 240px;
    height: 590px;
    position: absolute;
} */

/* .flex-container {
    margin-top: 0 auto;
    height: 50px;
    justify-content: flex-end;
    flex-direction: flex-end;
} */
.box{
    width: 100px;
    min-height: 100%;
    display: block;
    background-color:  #b1dde9;
    float: right;
  }

.item {
    /* display: flex; */
    background-color: #b1dde9;
    height: 50px;
    width: 50px;
   /*  flex: 1 auto;
    flex-direction: row;
    align-items: flex-end;
    left: 240px;  */
} 

img {
    width: 100px;
    display: block;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 50px;
}

.input {
    color: #1b4581;
    border-width: 50px 50px 50px 50px;
    position: relative;
    width: 220px;
}

.link {
    font-size: 12px;
    left: 20px;
    position: relative;
    text-decoration: underline;
    height: 15px;
}

.button {
    color: #1b4581;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    width: 150px;
    height: 40px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 20px;
}

.add {
    font-size: 12px;
    left: 80px;
    position: relative;
    text-decoration: underline;
    height: 15px;
}
