<ion-content>

  <div>
    <ion-toolbar class="decor" color="ligth"></ion-toolbar>
  </div>

  <div class="logo">
    <img src="assets\img\Sowilo.png" alt="">
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item class="input" lines="none">
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input" style="flex: 3 2" lines="none">
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col class="ion-checkbox">
        <ion-item lines="none">
          <ion-checkbox></ion-checkbox>
          <ion-label> Manter conectado</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="link">
        <ion-router-link color="primary" href="#">Recuperar senha
        </ion-router-link>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="button" expand="block">
          Entrar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="face">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="add">
        <ion-router-link color="tertiary" href="#">Criar conta
        </ion-router-link>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>