<ion-content>

  <div class="box"></div>

  <div class="name">Olá,
    <!--   <ion-item class="input" lines="none">
      <ion-input type="string" placeholder="E-mail"></ion-input>
    </ion-item>  Colocar o nome do  usuário-->
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="diabetesmenu">Diabetes</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="menu" href="hypertensionmenu">Hipertensão</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="exit">
    <ion-router-link href="login" slot="end" color="gray">Sair</ion-router-link>
  </div>

</ion-content>