<ion-header>

  <ion-toolbar class="decor" color=primary>
    <ion-buttons slot="start">
      <ion-button href="diabetesmenu">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<span>Cadastro</span>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button class="button" (click)="register()" color="light" expand="block">
        Cadastrar
      </ion-button>
    </ion-row>

