<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-undo-outline"></ion-back-button>
    </ion-button>
    <ion-title>Produto</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>

  <h1>Orientações</h1>

  <p> De acordo com a Sociedade Brasileira de Diabetes (SBD) não há uma frequência pré determiada para a realização dos
    testes, é extremamente importante analisar o nível de controle e da estabilidade dos valores glicemicos para
    determina-lá. </p>
  <p> Um paciente com a glicemia muito instável pode chegar a medir no mínimo 6 veses ao dia, tendo em vista que 3
    dessas medições são realizadas antes das principais refeições e as outras 3 devem ser feitas 2 horas após
    refeições.</p>
  <p>O controle glicêmico, assim como a utilização de insulina deve ser feita a partir de um acompanhamento médico.</p>

  <button>OK</button>

</ion-content>