ion-toolbar{
    color: #B1DDE9;
}

h1{
    color:#1B4581;
}

p{
    color: #1B4581;
    font-family: Segoe UI;
    align-content: center;
}

button{
    color: #B1DDE9;
    font-family: Segoe UI;

}

ion-content {
  overflow: hidden;
}
