<ion-header>

  <ion-toolbar class="decor" color=primary>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="text">
    <ion-text>

      <h1>Orientações</h1>

      <p> Sente-se em uma cadeira com a coluna ereta. Coloque a braçadeira no braço esquerdo, sem folgas, de dois a três
        dedos acima da articulação do cotovelo. Alguns aparelhos devem ser colocados no punho, verifique o seu; </p>
      <p> Mantenha o braço relaxado, apoiado em uma superfície e elevado na altura do coração, e vire a palma da mão
        para cima;.</p>
      <p>Quando a braçadeira começar a inflar, mantenha-se relaxado, não fale nem movimente o braço.
      </p>
    </ion-text>

    <ion-button class="confirm">OK</ion-button>
    <br>
  </div>
</ion-content>